body{
    /* background-color: black; */
    margin: 0%;
    background-color: black;
    color: aliceblue;
    border-top: 4px solid red;
    border-bottom: 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
nav{
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav button{
    height: 2.5em;
    width: 6em;
    border: 4px solid purple;
    margin-top: 3em;
    margin-left: 2em;
    background-color: #f2d0e1;
    border-radius: 2em;
}
nav button:hover{
    cursor: pointer;
}
ul li{
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 50vw;
    background-color: rgb(32, 32, 32);
    padding: 1em;
    /* border: 2px solid red; */
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
ul li:hover{
    background-color: bisque;
}
ul li button{
    border: 2px solid red;
    border-radius: 4em;
    background-color: rgb(218, 159, 159);
}
#searchBox{
    width: 50vw;
    margin-left: 2em;
    padding-left: 2em;
    font-size: 1em;
    border: 5px solid #5656ee;
    border-radius: 9px;
}